body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 100vh;
  width: 100vw;
  background-image: url("image/DSC07444.JPG");
  background-position: center;
  background-size: cover;
}

.loadingPercent {
  position: absolute;
  color: aliceblue;
  font-size: 4rem;
}
